* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  color: rgb(0, 106, 255)
}

.birthday {
  display:flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding-bottom:0.5em;
}